<tr data-url="<%= admin_client_path(client) %>">
    <td><%= client.id %></td>
    <td><%= client.name %></td>
    <td><%= client.primary_contact.full_name %></td>
    <td><%= client.status %></td>
    <td>
        <%= link_to(edit_admin_client_path(client)) do %><i class="far fa-pencil" style='margin: 0 5px;'></i><% end %>
        <i class="far fa-envelope" style='margin: 0 5px;'></i>
        <i class="far fa-usd-circle" style='margin: 0 5px;'></i>
</div>
    </td>
    
</tr>
