<div class='container'>
    <%= link_to("<< Clients", admin_clients_path) %>
</div>
<section class='section'>
    <div class='container'>
        <div class='columns'>
            <div class='column is-three-quarters'>
                <h1 class='title is-inline-block' style='margin-bottom: 5px;'><%= @client.name %></h1>
                <span class='is-pulled-right'>
                    <%= link_to('#') do %>
                        <i class='far fa-envelope fa-lg' style='margin-top: 10px; margin-right: 10px'></i>
                    <% end %>
                    <%= link_to(edit_admin_client_path(@client)) do %>
                        <i class='far fa-cog fa-lg' style='margin-top: 10px margin-right: 10px'></i>
                    <% end %>
                </span>
                <hr style='margin: 10px 0'/>
                <div>
                    <address>
                        <%= @client.street %><br />
                        <%= @client.city %> <%= @client.state %>, <%= @client.zipcode %>
                    </address>
                </div>
            </div>
            <div class='column'>
                <h1 class='title is-inline-block'>Primary Contact</h1>
                <span class='is-pulled-right'>
                    <%= link_to('#') do %>
                        <i class="far fa-user-cog fa-lg" style='margin-top: 10px;'></i>
                    <% end %>
                </span>
                <%= render 'primary_contact', pc: @client.primary_contact %>
        </div>
    </div>
</section>
<section class='section'>
    <div class='container'>
        <div class='columns'>
            <div class='column is-three-quarters'>
                <h1 class='title is-inline-block'>Projects</h1>
                <span class='is-pulled-right'>
                    <%= link_to('#', class: 'button is-primary') do %>
                        <i class="far fa-plus-circle" style='margin-right: 10px;'></i>Create Project
                    <% end %>    
                </span>
                <div class='box'>
                </div>
            </div>
        </div>
    </div>
</section>
<section class='section'>
    <div class='container'>
        <div class='columns'>
            <div class='column is-three-quarters'>
                <h1 class='title is-inline-block'>Tickets</h1>
                <span class='is-pulled-right'>
                    <%= link_to(new_admin_ticket_path, class: 'button is-primary') do %>
                        <i class="far fa-plus-circle" style='margin-right: 10px;'></i>Create Ticket
                    <% end %>    
                </span>
                <table class='table is-hoverable is-fullwidth clickable_row'>
                    <thead>
                        <tr>
                            <th>Ticket Number</th>
                            <th>Logged By</th>
                            <th>Summary</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%= render partial: 'ticket', collection: @client.tickets %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
